version: '3.0'
services:

  postgres:
    image: postgres:10
    restart: unless-stopped
    networks:
      - misago
    env_file:
      - ./env/postgres.env
    volumes:
      - misago-database:/var/lib/postgresql/data

  redis:
    image: redis:4
    restart: unless-stopped
    networks:
      - misago
    volumes:
      - misago-redis:/data

  misago:
    build: misago
    restart: unless-stopped
    networks:
      misago:
        aliases:
          - misago
    environment:
      - POSTGRES_HOST=postgres
    env_file:
      - ./env/misago.env
      - ./env/postgres.env
    depends_on:
      - postgres
      - redis
    volumes:
      - misago-media:/misago/media
      - misago-static:/misago/static
      - "./backups:/misago/backups:z"
      - "./logs:/misago/logs:z"
    tty: true
    ports:
      - "127.0.0.1:8080:80"

networks:
  misago:

volumes:
  misago-database:
  misago-media:
  misago-redis:
  misago-static: